body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3A405A;
    color: white;
    font-size: 30px;
    transition: 500ms;
    position: relative;
}

header:hover {
    filter: brightness(120%);
    font-size: 33px;
}

.widget {
    width: 25%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    transition: 500ms;
    position: relative;
}

.widget:hover {
    filter: brightness(120%);
    width: 35%;
}


.widget>div:last-child {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    bottom: 25%;
}


.section {
  width: calc(25% - 2px);
  height: calc(75vh - 2px);
  background-color: #ade2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white
}

.code-container {
  font-family: monospace;
  width: 70%;
  overflow-x: auto;
  background-color: rgb(231, 231, 231);
  border: 1px solid gray;
  border-radius: 5px;
  color :#003049;
  padding: 0 10px;
}

.toggle-header {
  background-color: #376996;
}


.toggle {
  border: solid 1px rgba(128, 128, 128, 0.483);
  border-radius: 15px;
  width: 60px;
  height: 25px;
  background-color: white;
  position: relative;
  transition: background-color 0.6s;
  cursor: pointer;
}

.toggle[side="l"] {
  background-color: rgb(213, 213, 213);
}

.toggle[side="r"] {
  background-color: #ffb7b7;
}

.toggle .circle {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  transition: left 0.5s, background-color 0.5s, border-color 0.5s;
  border: solid 1px rgba(128, 128, 128, 0.483);
  border-radius: 15px;
  background-color: white;
}

.toggle[side="l"] .circle {
  left: 2.5px;
  background-color: gray;
}

.toggle[side="r"] .circle {
  left: 37.5px;
  background-color: #FE4A49;
  border-color: #FE4A49;
}

.toggle[enabled="false"] {
  cursor: not-allowed;
}

.toggle[enabled="false"]::after {
  content: "";
  background-color: #FE4A49;
  width: 50px;
  height: 4px;
  left: 10%;
  top: 40%;
  transform: rotate(125deg);
  position: absolute;
}

.combobox-header {
  background-color: #6c9160;;
}

.combobox {
  display: flex;
  width: 250px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  flex-direction: row-reverse;
  position: relative;
  color: rgb(59, 59, 59);
}

.combobox-options {
  width: 100px;
  height: 100%;
  overflow-y: auto;
}

.combobox-description {
  max-width: 148px;
  width: 132px;
  padding: 10px;
  height: calc(100% - 20px);
  border: 2px solid gray;
  border-right: none;
  border-radius: 5px 0 0 5px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  transition: 1s;
}

[selected] .combobox-description {
  display: block;
  opacity: 1;
  z-index: 10;
}

.combobox-options div {
    font-size: 13px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

.combobox-options div[selected] {
  border: 2px solid gray;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.combobox-options div:not([selected]) {
  border-left: 2px solid gray;
}

.combobox-options div[category="1"] {
    background-color: rgb(140, 255, 217);
}

.combobox-options div[category="2"] {
    background-color: #ffd364;
}

.combobox-options div[category="3"] {
    background-color: rgb(255, 179, 204);
}

.meter-header {
  background-color:  #bbad42;
}

.needle {
  z-index: 1000;
  height: 40px;
  margin-left: -20px;
  transform-origin: 80% 80%;
  transform: rotate(
    calc(calc(calc(calc( calc(var(--percent) - var(--minrange)) / calc(var(--maxrange) - var(--minrange)) * 185) - 45) * 1deg))
  );
  transition: transform 500ms;
}

.meter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faee94;
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.topmetercontainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: var(--max-alert);
  background-color: #faee94;
  border-radius: 9px 9px 0 0;
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: var(--percent);
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  font-size: 13px;
}

.alert::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: red;
  border-bottom: 0;
  margin-bottom: -10px;
  z-index: -1;
}

.meter {
  width: 120px;
  min-height: 120px;
  position: absolute;
  overflow: hidden;
  margin: auto;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.meter:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  width: 100%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 0px 0px 200px #003049;
}

.meter-name {
  color: white;
  z-index: 80;
  position: absolute;
  top: 100px;
}

.range-value {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  z-index: 1001;
}

.min-range::after {
  position: absolute;
  z-index: 80;
  counter-reset: minrange var(--minrange);
  content: counter(minrange);
  bottom: 40%;
  transform-origin: 80% 80%;
  transform: rotate(-95deg);
  height: 65%;
  color: white;
  font-size: 12px;
}

.max-range::after {
  position: absolute;
  z-index: 80;
  counter-reset: maxrange var(--maxrange);
  content: counter(maxrange);
  bottom: 40%;
  transform-origin: 80% 80%;
  transform: rotate(100deg);
  height: 40%;
  color: white;
  font-size: 12px;
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #8d99ae;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: white;
  box-shadow: -80px 0 0 80px #003049;
}

.clock{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: #e9fcfc;
  border-radius: 50%;
  border: 16px solid #303030;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}
.clock-example1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: #e9fcfc;
  border-radius: 50%;
  border: 16px solid #303030;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}
.center-negro,.center-rojo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.center-negro{
  height: 15px;
  width: 15px;
  background: #262626;
  z-index: 2;
}
.center-rojo{
  width: 9px;
  height: 9px;
  background: red;
  z-index: 6;
}
.indicadores div{
  position: absolute;
  width: 2px;
  height: 5px;
  background: #404040;
}
.indicadores div:nth-child(1) {
  transform: rotate(30deg) translateY(-113px);
}
.indicadores div:nth-child(2) {
  transform: rotate(60deg) translateY(-113px);
}
.indicadores div:nth-child(3) {
  transform: rotate(90deg) translateY(-113px);
  background: red;
}
.indicadores div:nth-child(4) {
  transform: rotate(120deg) translateY(-113px);
}
.indicadores div:nth-child(5) {
  transform: rotate(150deg) translateY(-113px);
}
.indicadores div:nth-child(6) {
  transform: rotate(180deg) translateY(-113px);
  background: red;
}
.indicadores div:nth-child(7) {
  transform: rotate(210deg) translateY(-113px);
}
.indicadores div:nth-child(8) {
  transform: rotate(240deg) translateY(-113px);
}
.indicadores div:nth-child(9) {
  transform: rotate(270deg) translateY(-113px);
  background: red;
}
.indicadores div:nth-child(10) {
  transform: rotate(300deg) translateY(-113px);
}
.indicadores div:nth-child(11) {
  transform: rotate(330deg) translateY(-113px);
}
.indicadores div:nth-child(12) {
  transform: rotate(360deg) translateY(-113px);
  background: red;
}
.sec-line{
  transition-timing-function: ease-in-out;
  transform: rotate(calc(calc(calc(var(--sec)/60)*360)*1deg));
  transition: transform 0.1s;
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 5;
}
.sec-line:before{
  position: absolute;
  content: '';
  height: 130px;
  width: 3px;
  left: -1px;
  top: -25px;
  background: red;
  border-radius: 3px;
}
.sec-line:after{
  position: absolute;
  content: '';
  height: 45px;
  width: 7px;
  left: -3px;
  top: -55px;
  background: red;
  border-radius: 3px;
}
.min-line{ 
  transform: rotate(calc( calc( calc(    calc(  calc( var(--min)/60 )  * 360 )) + calc(   calc(   var(--sec)/60 ) * 6)) *1deg) );
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 4;
}
.min-line:before{
  position: absolute;
  content: '';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 70px solid #303030;
  left: -3px;
  top: -95px;
  width: 1px;
  height: 1px;
}
.min-line:after{
  position: absolute;
  content: '';
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 25px solid #303030;
  left: -3px;
  top: -25px;
  width: 3px;
  height: 1px;
}
.hr-line{
  transform: rotate(calc( calc( calc(    calc(  calc( var(--hr)/12 )  * 360 )) + calc(   calc(   var(--min)/60 ) * 30)) *1deg) );
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 3;
}
.hr-line:before{
  position: absolute;
  content: '';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 55px solid #303030;
  left: -3px;
  top: -75px;
  width: 1px;
  height: 1px;
}
.hr-line:after{
  position: absolute;
  content: '';
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 20px solid #303030;
  left: -3px;
  top: -20px;
  width: 3px;
  height: 1px;
}

.clock-header{
  background-color:  #52B788;
}