.toggle {
  border: solid 1px rgba(128, 128, 128, 0.483);
  border-radius: 15px;
  width: 60px;
  height: 25px;
  background-color: white;
  position: relative;
  transition: background-color 0.6s;
  cursor: pointer;
}

.toggle[side="l"] {
  background-color: rgb(213, 213, 213);
}

.toggle[side="r"] {
  background-color: rgb(255, 169, 169);
}

.toggle .circle {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2.5px;
  transition: left 0.5s, background-color 0.5s;
  border: solid 1px rgba(128, 128, 128, 0.483);
  border-radius: 15px;
  background-color: white;
}

.toggle[side="l"] .circle {
  left: 2.5px;
  background-color: gray;
}

.toggle[side="r"] .circle {
  left: 37.5px;
  background-color: red;
}

.combobox {
  display: flex;
  width: 250px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  flex-direction: row-reverse;
  position: relative;
}

.combobox-description {
  max-width: 148px;
  width: 148px;
  padding: 10px;
  height: calc(100% - 24px);
  border: 2px solid gray;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.combobox-options {
  width: 100px;
  height: 100%;
  overflow-y: auto;
}

.combobox-description div {
  display: block;
}

.combobox-options div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.combobox-options div[selected] {
  border: 2px solid gray;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.combobox-options div:not([selected]) {
  border-left: 2px solid gray;
}

.combobox-options div[category="1"],
.combobox-options div[category="1"]::before {
  background-color: rgb(140, 255, 217);
}

.combobox-options div[category="2"],
.combobox-options div[category="2"]::before {
  background-color: #ffd364;
}

.combobox-options div[category="3"],
.combobox-options div[category="3"]::before {
  background-color: rgb(255, 179, 204);
}

.combobox-options div[selected]::before {
  content: "No hay descripción";
  padding: 10px;
  position: absolute;
  left: 1px;
  top: 2px;
  height: 77px;
  width: 137px;
  border-radius: 5px 0 0 5px;
}

.combobox-options div:nth-child(1)[selected]::before {
  content: "Descripción de la opción 1";
}

.combobox-options div:nth-child(2)[selected]::before {
  content: "Descripción de la opción 2";
}
.combobox-options div:nth-child(3)[selected]::before {
  content: "Descripción de la opción 3";
}
.combobox-options div:nth-child(4)[selected]::before {
  content: "Descripción de la opción 4";
}
.combobox-options div:nth-child(5)[selected]::before {
  content: "Descripción de la opción 5";
}
.combobox-options div:nth-child(6)[selected]::before {
  content: "Descripción de la opción 6";
}
.combobox-options div:nth-child(7)[selected]::before {
  content: "Descripción de la opción 7";
}

.needle {
  z-index: 1000;
  height: 40px;
  transform: rotate(45deg);
  transform-origin: 80% 80%;
}

.meter {
  width: 160px;
  position: fixed;
  overflow: hidden; 
  text-align: center;
  left: 44%;
  top: 39%;
  padding: 5px;
  border-radius: 50%;
}

.meter:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  width: 120%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 0px 0px 200px white;
  border-radius: 50%;
  z-index: -1;
  border: solid;
}

.range-value {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
}

.number {
    width: 10px;
    left:140px;
    height: 100px;
    display:inline-block;
    position: inherit;
    z-index:-1;
    font-size: 12px;
}
.number.n0 {
    transform: rotate(-100deg);
}
.number.n25 {
    transform: rotate(-55deg);
}
.number.n75 {
    transform: rotate(40deg);
}
.number.n180 {
    font-size: 10px;
    transform: rotate(90deg);
}

.clock{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background: #e9fcfc;
  border-radius: 50%;
  border: 16px solid #303030;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}
.center-negro,.center-rojo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.center-negro{
  height: 15px;
  width: 15px;
  background: #262626;
  z-index: 2;
}
.center-rojo{
  width: 9px;
  height: 9px;
  background: red;
  z-index: 6;
}
.indicadores div{
  position: absolute;
  width: 2px;
  height: 5px;
  background: #404040;
}
.indicadores div:nth-child(1) {
  transform: rotate(30deg) translateY(-113px);
}
.indicadores div:nth-child(2) {
  transform: rotate(60deg) translateY(-113px);
}
.indicadores div:nth-child(3) {
  transform: rotate(90deg) translateY(-113px);
  background: red;
}
.indicadores div:nth-child(4) {
  transform: rotate(120deg) translateY(-113px);
}
.indicadores div:nth-child(5) {
  transform: rotate(150deg) translateY(-113px);
}
.indicadores div:nth-child(6) {
  transform: rotate(180deg) translateY(-113px);
  background: red;
}
.indicadores div:nth-child(7) {
  transform: rotate(210deg) translateY(-113px);
}
.indicadores div:nth-child(8) {
  transform: rotate(240deg) translateY(-113px);
}
.indicadores div:nth-child(9) {
  transform: rotate(270deg) translateY(-113px);
  background: red;
}
.indicadores div:nth-child(10) {
  transform: rotate(300deg) translateY(-113px);
}
.indicadores div:nth-child(11) {
  transform: rotate(330deg) translateY(-113px);
}
.indicadores div:nth-child(12) {
  transform: rotate(360deg) translateY(-113px);
  background: red;
}
@keyframes sec-line{
  from{transform: rotate(var(--secani)deg);}
  to{transform: rotate(calc(var(--secani) + 360)deg);}
}
@keyframes min-line{
  from{transform: rotate(var(--minani)deg);}
  to{transform: rotate(calc(var(--minani) + 360)deg);}
}
@keyframes hr-line{
  from{transform: rotate(var(--hrani)deg);}
  to{transform: rotate(calc(var(--hrani) + 360)deg);}
}
.sec-line{
  transform: rotate(calc(var(--sec)*1deg));
  transition: transform 1s;
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 5;
}
.sec-line:before{
  position: absolute;
  content: '';
  height: 130px;
  width: 3px;
  left: -1px;
  top: -25px;
  background: red;
  border-radius: 3px;
}
.sec-line:after{
  position: absolute;
  content: '';
  height: 45px;
  width: 7px;
  left: -3px;
  top: -55px;
  background: red;
  border-radius: 3px;
}
.min-line{
  transform: rotate(var(--min));
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 4;
  animation: min-line 3600s linear infinite;
}
.min-line:before{
  position: absolute;
  content: '';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 70px solid #303030;
  left: -3px;
  top: -95px;
  width: 1px;
  height: 1px;
}
.min-line:after{
  position: absolute;
  content: '';
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 25px solid #303030;
  left: -3px;
  top: -25px;
  width: 3px;
  height: 1px;
}
.hr-line{
  transform: rotate(var(--hr));
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 3;
  animation: hr-line 43200s linear infinite;
}
.hr-line:before{
  position: absolute;
  content: '';
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 55px solid #303030;
  left: -3px;
  top: -75px;
  width: 1px;
  height: 1px;
}
.hr-line:after{
  position: absolute;
  content: '';
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 20px solid #303030;
  left: -3px;
  top: -20px;
  width: 3px;
  height: 1px;
}
